body {
  background-color: #f8f9fa; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

* {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

p {
  line-height: 1.5;
  color: #212529; }

a {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

.navlink {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

h1 {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

h2 {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

h3 {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

h4 {
  font-family: "HelveticaNeue", "Roboto", sans-serif; }

.btn-primary {
  background-color: #329af0;
  border-radius: 2rem; }
  .btn-primary :hover {
    background-color: #72c3fc; }

.btn-outline-success {
  color: #329af0;
  border-color: #329af0; }

.navbar-light .navbar-nav .nav-link {
  color: #e9ecef;
  font-weight: 500; }
  .navbar-light .navbar-nav .nav-link .active > .nav-link {
    color: #e9ecef; }

.navbar {
  margin-top: 2rem; }
  .navbar-brand-logo {
    height: 1.5rem; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
  color: #e9ecef; }

.jumbotron {
  margin-top: -6rem;
  background-image: url("/img/header-2.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  background-color: white;
  padding-top: 300px;
  padding-bottom: 300px; }
  .jumbotron .display-4 {
    color: #e9ecef; }
  .jumbotron .lead {
    color: #e9ecef; }

#about {
  background-color: #f1f3f5;
  padding-top: 150px;
  padding-bottom: 150px; }

#services {
  padding-bottom: 100px;
  padding-top: 100px; }
  #services .card {
    background-color: #f8f9fa;
    border: none;
    border-radius: .25rem; }
  #services .top-card-block {
    margin-bottom: 20px;
    margin-top: 10px; }

.services__icon {
  height: 64px; }

#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #329af0; }
  #testimonials .h2 {
    padding-bottom: 20px;
    color: white; }

#cta {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f3f5; }

#footer {
  background-color: #495057;
  padding-top: 50px;
  padding-bottom: 50px; }
  #footer address {
    color: #f8f9fa; }
