html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.jumbotron {
  margin-bottom: 0; }

.section-container {
  padding-top: 50px;
  padding-bottom: 50px; }

.top-card-block {
  margin-bottom: 20px;
  margin-top: 10px; }

.footer-address {
  padding-left: 50%; }
