

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//Base Font
$base-font-family: 'HelveticaNeue', 'Roboto', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.5;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-lined-height: $base-line-height;

// Headings
$header-font-weight: $bold;


// Colors
$primary-color-dark:   #1c7cd6;
$primary-color:        #329af0;
$primary-color-light:  #72c3fc;
$primary-color-text:   #e9ecef;
$accent-color:         #ff6b6b;
$primary-text-color:   #212529;
$secondary-text-color: #868e96;
$divider-color:        #e9ecef;
$primary-background-color-light: #f8f9fa;
$primary-background-color-dark: #495057;



body {
  background-color: $primary-background-color-light;
}
