.jumbotron {
  margin-top: -6rem;
  background-image: url('/img/header-2.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  background-color: white;
  padding-top: 300px;
  padding-bottom: 300px;

  .display-4 {
    color: $primary-color-text;
  }

  .lead {
    color: $primary-color-text;
  }

}
