
* {
  font-family: $base-font-family;
}

p {
  line-height: $base-line-height;
  color: $primary-text-color;
}

a {
  font-family: $base-font-family;
}

.navlink {
  font-family: $base-font-family;
}

// Headers
h1 {
  font-family: $base-font-family;
}

h2 {
  font-family: $base-font-family;
}

h3 {
  font-family: $base-font-family;
}

h4 {
  font-family: $base-font-family;
}
